body {
  display: grid;
  grid-column-start: span 3;
  justify-items: stretch;
  align-items: stretch;
  background: linear-gradient(
    to left,
    #0C97FA 0%,
    #16E1f5 100%
  );
  height: 100%;
  width: 100%;
  margin:auto 0;
}

